.nav-glyphish-example(data-role='footer', data-id='samefooter', data-position='fixed', data-tap-toggle='false')
	.nav-glyphish-example(data-role='navbar', data-grid='a')
		ul
			li
				a#personal(href='personal', data-icon='custom')
			li
				a#global(href='global', data-icon='custom')