<!DOCTYPE html> 
<html>
    <head>
        <title>Create Profile</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                    
        <link rel="stylesheet" href="/css/jquery.mobile-1.2.0.css" />
                    
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="apple-touch-icon" href="appicon.png" />
        <link rel="apple-touch-startup-image" href="startup.png">
                        
        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/jquery.mobile-1.2.0.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <h1>Create Profile</h1>
            </div><!-- /header -->
            
            <div data-role="content">
                
                <form id='settingsForm' action="create-profile" method="post">
                    <div data-role="fieldcontain">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name"/>
                        <div id="nameError" hidden="true"> The name you entered is invalid </div>
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email"/>
                        <div id="emailError" hidden="true"> The email you entered is invalid </div>
                    </div>
                    
                    <div data-role="fieldcontain">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password"/>
                        <div id="passwordError" hidden="true"> The password you entered is invalid </div>
                    </div>
                    
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <legend>Gender:</legend>
                            <input type="radio" name="gender" id="radio-female" value="f" />
                            <label for="radio-female">Female</label>
                            
                            <input type="radio" name="gender" id="radio-male" value="m" />
                            <label for="radio-male">Male</label>
                        </fieldset>
                        <div id="genderError" hidden="true"> The gender you entered is invalid </div>
                    </div>
                    <input type="submit" value="Create Profile"></input>
                </form>
            </div> <!-- /content -->
        </div> <!-- /page -->
    </body>
</html>